#menu {
    background-color: yellow;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#logo {
    width: 181px;
}

body {
    margin: 0;
    font-family: opensanstitle, helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
}
